<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

    <div class="container">

        <div class="form-group">
        <main>
            <form id="myForm" action="/schema">
                <button type="submit" class="btn btn-primary btn-lg">Novo</button>
            </form>

            <br />

            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    <% schemas.forEach(function(schema) { %>
                        <tr>
                            <td>
                                <%= schema.description %>
                            </td>
                            <td>
                                <a href="/schema/<%= schema.fileName %>">
                                    <button type="button" class="btn btn-success">
                                        <img src="/images/pencil.png" width="15px" />
                                    </button>
                                </a>
                            </td>
                            <td>
                                <a href="/schema/remove/<%= schema.fileName %>" onclick="return confirm('Você tem certeza que deseja deletar?');">
                                    <button type="button" class="btn btn-danger">
                                        <img src="/images/remove.png" width="15px" />
                                    </button>
                                </a>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
        </main>
        </div>
    </div>   

    <br /><br />

    <footer class="footer">
        <% include ../partials/footer %>
        <script type="text/javascript" src="/js/schema.js"></script>
    </footer>

</body>

</html>