<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div class="container">

    <main>
      <div class="form-group">
        <label for="selectedSchema" class="control-label">Schema</label>
        <select class="form-control" style="width: 400px" id="selectedSchema">
            <option></option>
            <% schemas.forEach(function(schema) { %>
                <option value="<%= schema.fileName %>"><%= schema.description %></option>
            <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label for="id" class="control-label">Json</label>
        <textarea class="form-control" id="json" rows="10"></textarea>
      </div>

      <button id="validateButton" type="submit" class="btn btn-primary">Validar</button>

    </main>

  </div>

  <footer class="footer">
    <% include ../partials/footer %>
    <script type="text/javascript" src="/js/validate.js"></script>
  </footer>

</body>

</html>