<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>



</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">

            <div class="jumbotron">
                <h3>Schemas</h3>

                <div>
                    <select class="form-control" style="width: 400px" id="selectedSchema">
                            <option value=""></option>
                        <% schemas.forEach(function(schema) { %>
                            <option value="<%= schema.fileName %>"><%= schema.description %></option>
                        <% }); %>
                    </select>
                </div>

                <div id="editor"></div>

                <div>
                    <button type="button" class="btn btn-primary">Salvar</button>
                </div>
                <div>
                    <button type="button" class="btn btn-danger">Importar</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="schema.js"></script>






</body>

</html>